.card {
  box-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 0.4);
  padding: .5rem 1rem 1rem 1rem;
  border-radius: 2px;
  margin-bottom: 2rem;
}

.card:last-of-type {
  margin-bottom: 0;
}

.card.center {
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
}

.card-question.center {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.card i {
  padding: .8rem;
  background: lightblue;
  border-radius: 3px;
  cursor: pointer;
}

.card .answer {
  font-size: 1.4rem;
}